
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    .wrap-top{
        width: 100%;
        height: 30px;
        background: #e3e4e5;
        color: #999;
        border-bottom: 1px solid #ddd;
        .top{
            width: 1190px;
            height: 30px;             
            font-size: 14px;
            margin: 0 auto;
            div{
                width:257px;
                line-height: 30px;
                float: left;
                span{
                    float: right;
                }
            }
            ul{
                line-height: 30px;
                font-size: 14px;
                float: right;
                margin-left: 2px;
                li{
                    span{
                        color:red;
                        margin-left:10px;
                    }
                    float: left;
                    a{
                        padding: 0 9px;
                    }   
                }
            }
        }
    }
